<div class="modal-content">
	<div class="modal-header">
		<h3 class="modal-title">{{ 'DECONNEXION' | translate }}</h3>
	</div>

	<div class="modal-body">
       <a>{{ 'DECONNEXION_MESSAGE_CONFIRMATION' | translate }}</a>    
 	</div>
 	
    <div class="modal-footer">
            <button class="btn btn-primary" ng-click="deconnexion()">{{ 'DECONNEXION' | translate }}</button>
            <button class="btn btn-warning" ng-click="annulation()">{{ 'ANNULEZ' | translate }}</button>
    </div>



	
</div>