<div class="container"><br>   
  <div class="row">
    <div class="col-sm-10">                                  
  		<table class="table table-bordered table-hover table-condensed">
   		 	<thead>
      			<tr>
       		 		<th></th>
        			<th>{{ 'REQUETE_CONSTRUCTEUR_MENU_SELECTION_TABLE' | translate }}</th>
       		 		<th>{{ 'REQUETE_CONSTRUCTEUR_MENU_SELECTION_CHAMP' | translate }}</th>
       		 		<th>{{ 'REQUETE_CONSTRUCTEUR_MENU_SELECTION_OPERATEUR' | translate }}</th>
       		 		<th>{{ 'REQUETE_CONSTRUCTEUR_MENU_SELECTION_VALEUR' | translate }}</th>
       		 		<th>{{ 'REQUETE_CONSTRUCTEUR_MENU_SELECTION_CONNECTEUR' | translate }}</th>
      			</tr>
    		</thead>
    		<tbody>
      			<tr ng-repeat="selection in detailsRequeteSelection | orderBy : 'idselection'" 
      				ng-click="selectionLigne(selection.idselection)" ng-class="{selected: selection.idselection === idSelectionSelectionne}" >
      				<td>{{ selection.idselection }}</td>
      				<td>{{ selection.nomtable }}</td>
      				<td>
      					<div class="form-group">
      						<div class="col-sm-9">
      							{{ selection.nomchamp }}
      						</div>
      						<div class="col-sm-3">
      							<button ng-click="selectionChamp(selection.idselection); $event.stopPropagation();" class="btn btn-xs">
      								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      							</button>
      						</div>
      					</div>
      				</td>
      				<td>
      					<div class="form-group">
      						<div class="col-sm-9">
      							{{ selection.operateur }}
      						</div>
      						<div class="col-sm-3">
      							<button ng-click="selectionOperateur(selection.idselection); $event.stopPropagation();" class="btn btn-xs">
      								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      							</button>
      						</div>
      					</div>
      				</td>
      				<td>
      					<div class="form-group">
      						<div class="col-sm-9">
      							{{ selection.valeur }}
      						</div>
      						<div class="col-sm-3">
      							<button ng-click="selectionValeur(selection.idselection); $event.stopPropagation();" class="btn btn-xs">
      								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      							</button>
      						</div>
      					</div>
      				</td>
      				<td>
      					<div class="form-group">
      						<div class="col-sm-9">
      							{{ selection.connecteur }}
      						</div>
      						<div class="col-sm-3">
      							<button ng-click="selectionConnecteur(selection.idselection); $event.stopPropagation();" class="btn btn-xs">
      								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      							</button>
      						</div>
      					</div>
      				</td>
      			</tr>
    		</tbody>
  		</table>
    </div>
    <div class="col-sm-1">
        <br>
    	<br>
    	<button ng-click="ajouterSelection()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    	<br>
    	<br>
    	<br>
    	<button ng-click="supprimerSelection()"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
    	
    	
	</div>  		
</div>