<div class="modal-content">
	<div class="modal-header">
		<h3 class="modal-title">{{ 'REQUETE_CONSTRUCTEUR_MENU_SELECTION_VALEUR_CHOIXVALEUR' | translate }}</h3>
	</div>

	<div class="modal-body">
      
    <div class="row">
    <div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a><strong>{{ 'REQUETE_CONSTRUCTEUR_MENU_SELECTION_VALEUR_CHOIXVALEUR_VALEUR' | translate }}</strong></a>
			</div>
			<form name="formulaireValeur"  novalidate>
			<div class="panel-body">   
				<div id="scrollArea" style="overflow: auto; height:250px;">
					<div class="form-group" ng-class="{ 'has-error' : formulaireValeur.valeurUtilisateur.$invalid && !formulaireValeur.valeurUtilisateur.$pristine || formulaireValeur.valeurUtilisateur.$pristine && submitted }">
						<input type="text" name="valeurUtilisateur" class="form-control"
         					ng-model="enregistrementUtilisateur.valeurUtilisateur"  ng-required ng-pattern="/^[.%a-zA-Z0-9-_]*$/">
         				<p ng-show="formulaireValeur.valeurUtilisateur.$error.required && submitted || formulaireValeur.valeurUtilisateur.$pristine && submitted " class="help-block">{{ 'REQUETE_CONSTRUCTEUR_MENU_SELECTION_VALEUR_CHOIXVALEUR_VALEUR_ERREUR_REQ' | translate }}</p>
         				<p ng-show="formulaireValeur.valeurUtilisateur.$error.pattern && !formulaireValeur.valeurUtilisateur.$pristine  " class="help-block">{{ 'REQUETE_CONSTRUCTEUR_MENU_SELECTION_VALEUR_CHOIXVALEUR_VALEUR_ERREUR_PATTERN' | translate }}</p>
         			</div>	
				</div>	
			</div>	
			<div class="panel-footer">
    			<button class="btn btn-primary" ng-click="selectionValeur(formulaireValeur.$valid , enregistrementUtilisateur)" >{{ 'VALIDEZ' | translate }}</button>
    		</div>
    		</form>
		</div>
	</div>	
	<div class="col-sm-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a><strong>{{ 'REQUETE_CONSTRUCTEUR_MENU_SELECTION_VALEUR_CHOIXVALEUR_TABLES' | translate }}</strong></a>
			</div>
			<div class="panel-body">
				<div id="scrollArea" style="overflow: auto; height:250px;">
					<table class="table table-bordered table-hover table-condensed">
    					<tbody>
      						<tr ng-repeat="table in tablesChoixChamp | orderBy : 'nomtable'"ng-click="selectionTable(table.nomtable)" ng-class="{selected: table.nomtable === nomTableSelectionnee}">
      							<td>
      								{{table.nomtable}}
      							</td>
  							</tr>
    					</tbody>
  					</table>
				</div>
			</div>
		</div>
	</div>	
    <div class="col-sm-3">
    	<div class="panel panel-default">
    		<div class="panel-heading">
				<a><strong>{{ 'REQUETE_CONSTRUCTEUR_MENU_SELECTION_VALEUR_CHOIXVALEUR_CHAMP' | translate }}</strong></a>
			</div>
			<div class="panel-body">
				<div class="panel panel-default">
					<div class="panel-heading">
			        	{{nomTableSelectionnee}}
			        </div>
			        <div class="panel-body">
			        	<div id="scrollArea" style="overflow: auto; height:160px;">
			        		<table class="table table-bordered table-hover table-condensed">
			        			<tbody>
      								<tr ng-repeat="champ in champsTableSelectionnee" ng-click="selectionChamp(champ.attname)">
      									<td>
      										{{champ.attname}} 
      									</td>
  									</tr>
    							</tbody>
    						</table>
    					</div>	
				    </div>
			    </div>
		 	</div>
    	</div>
	</div>
 	</div>
 	
    <div class="modal-footer">
    </div>



	
</div>