<div class="modal-content">
	<div class="modal-header">
		<h3 class="modal-title">{{ 'BASES_SUPPRESSION_BASE' | translate }} {{baseDbRequest}}</h3>
	</div>
	
	<div class="modal-body">
		<a class="modal-title">{{ 'BASES_SUPPRIMEZ_MESSAGE_CONFIRMATION' | translate }}</a>
		<br>
		<a class="modal-title">{{ 'BASES_SUPPRIMEZ_MESSAGE_CONFIRMATION_2' | translate }}</a> 
		<a class="modal-title">{{ 'BASES_SUPPRIMEZ_MESSAGE_CONFIRMATION_3' | translate }}</a>        
 	</div>
    <div class="modal-footer">
    	<button class="btn btn-primary" ng-click="suppressionBase(baseDbRequest)" ng-hide="flagImportationEnCours || flagDemandeImportationEnCours">{{ 'SUPPRIMEZ' | translate }}</button>
        <button class="btn btn-warning" ng-click="annulation()">{{ 'ANNULEZ' | translate }}</button>
        <a ng-show="flagImportationEnCours || flagDemandeImportationEnCours" >{{ 'BASES_SUPPRIMEZ_MESSAGE_IMPORTATION_EN_COURS' | translate }}</a>
    </div>
    
</div>